/********************************************
              ANIMATION STYLES
********************************************/

.focal .iconic {
    @include vendorize(transform, rotate(0deg) scale(2) translateY(50px));
    @include vendorize(transition, all 0.5s ease-out);
    @include opacity(1);
}

.focal .box {
    @include vendorize(transform, rotate(0deg) scale(1));
    @include vendorize(transition, all 0.3s ease-out);
}

.focal h3 {
    @include vendorize(transform, scale(1.5) translateY(0px));
    @include opacity(0);
    @include vendorize(transition, all 0.2s ease-in-out);
}

.focal p {
    @include vendorize(transform, translateY(-100px) scale(0));
    @include opacity(0);
    @include vendorize(transition, all 0.2s ease-in-out);
}

.focal .box:hover .iconic {
    @include vendorize(transform, scale(1.7) translateY(100px));
    @include opacity(0.2);
    @include vendorize(transition, all 0.7s ease-in-out 0.3s);
}

.focal .box:hover {
    @include opacity(1);
    background: hsla(274, 41%, 18%, 0.25);
    @include vendorize(transform, translateY(0px) rotate(0deg));
    @include vendorize(transition-delay, 0.4s);
}

.focal .box:hover h3 {
    background: $color-dark-b;
    @include vendorize(transform, rotate(-360deg) scale(1) translateY(-120px));
    @include opacity(1);
    @include vendorize(transition, all 0.2s ease-in-out 0.5s);
}

.focal .box:hover p {
    color: $color-dark-b;
    text-align: center;
    padding: 20px 10px;
    margin: 15px;
    background: $color-light-a;
    border-radius: 15px;
    @include vendorize(transform, translateY(-90px) scale(1));
    @include opacity(1);
    @include vendorize(transition, all 0.2s ease-in-out 0.5s);
}

@media only screen and (min-width: $breakpoint-large) {
     
    .focal .box:hover {
        border-radius: 15px;
     }
}
