/********************************************
                BUTTON STYLES
********************************************/

@media only screen and (min-width: $breakpoint-large) {

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.col-4 {
    position: relative;
    height: 300px;
    margin-top: -20px;
}

.col-foot {
    position: absolute;
    width: 100%;
    bottom: 0;
    }
}

.btn {
    display: block;
    margin: 0 auto;
    font-family: $font-primary;
    font-weight: 700;
    font-size: $base-font-size/1.1;
    text-decoration: none;
    color: $color-light-a;
    background: $color-dark-b;
    //border: 2px solid $color-light-a;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    outline: none;
    border-style: none;


&:hover {
    transition-duration: 0.2s;
    color: $color-dark-b;
    background: $color-light-a;
    //border: 2px solid $color-dark-b;
    }
}