.btn {
    font-family: $font-secondary;
    text-decoration: none;
    color: $color-light;
    background-image: linear-gradient(to bottom, $color-medium-b, $color-dark-b);
    padding: 7px;
    margin: 20px 30px;
    border: 1px solid  $color-dark-a;
    border-radius: 20px;
    box-shadow: 2px 2px 2px $color-dark-b;
}

.btn:hover {
    color: $color-dark-b;
    background-image: linear-gradient(to bottom, $color-light, $color-medium-b);
}

/*.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, $color-medium-b, $color-dark-b);
  background-image: -moz-linear-gradient(top, $color-medium-b, $color-dark-b);
  background-image: -ms-linear-gradient(top, $color-medium-b, $color-dark-b);
  background-image: -o-linear-gradient(top, $color-medium-b, $color-dark-b);
  background-image: linear-gradient(to bottom, $color-medium-b, $color-dark-b);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px $color-dark-b;
  -moz-box-shadow: 3px 3px 3px $color-dark-b;
  box-shadow: 3px 3px 3px $color-dark-b;
  font-family: $font-secondary;
  color: $color-light;
  font-size: $base-font-size*1.1;
  padding: 5px;
    margin: 20px 30px;
  text-decoration: none;
    width: 50%;
}

.btn:hover {
  background: $color-medium-a;
  background-image: -webkit-linear-gradient(top, $color-light, $color-medium-b);
  background-image: -moz-linear-gradient(top, $color-light, $color-medium-b);
  background-image: -ms-linear-gradient(top, $color-light, $color-medium-b);
  background-image: -o-linear-gradient(top, $color-light, $color-medium-b);
  background-image: linear-gradient(to bottom, $color-light, $color-medium-b);
  text-decoration: none;
}*/