.row {
    max-width: 800px;
    //background: #301b40;
    margin: 5% auto;
    @extend .clearfix;
}

@media only screen and (min-width: $breakpoint-large) {

    // Col 3 Layout
.col-3 {
    //background: #c06cff;
    min-height: 100px;
    float: left;
    // equalSpaced( $num_of_cols, $margin, $con_width  )
    @include equalSpaced(3, 3%, 100%);
    margin: 0 auto;
    }
    
    // Col 4 Layout
.col-4 {
    //background: #c06cff;
    min-height: 100px;
    float: left;
    // equalSpaced( $num_of_cols, $margin, $con_width  )
    @include equalSpaced(4, 2%, 100%);
    margin: 0 auto;
    }

p {
    text-align: left;
    }
}