/********************************************
                GRID LAYOUT
********************************************/

.row {
    max-width: 960px;
    margin: 5% auto;
    @extend .clearfix;
}

.focal .box {
    height: 370px;
}

@media only screen and (min-width: $breakpoint-large) {

    // Col 3 Layout
.col-3 {
    height: 370px;
    float: left;
    // equalSpaced( $num_of_cols, $margin, $con_width  )
    @include equalSpaced(3, 2%, 100%);
    margin: 0 auto;
    }
    
    // Col 4 Layout
.col-4 {
    min-height: 100px;
    float: left;
    // equalSpaced( $num_of_cols, $margin, $con_width  )
    @include equalSpaced(4, 2%, 100%);
    margin: 0 auto;
    }
    
.focal .box {
    height: 370px;
}
    
p {
    text-align: left;
    margin-left: 15px;
    padding: 5px;
    }
  
h4 {
    width: 70%;
    margin: 0 auto;
    }
}
