/********************************************
                ICON STYLES
********************************************/

.iconic {
    fill: $color-dark-b;
    stroke: $color-dark-b;
}

.iconic:hover {
    fill: $color-medium-a;
    stroke: $color-medium-a;
}

.accent .iconic-property-accent {
    fill: hsla(0, 0%, 100%, 0.60);
    stroke: hsla(0, 0%, 100%, 0.60);
}

.accent:hover .iconic-property-accent {
    fill: $color-medium-a;
    stroke: $color-medium-a;
}