/******************************************************************

Mixins & Extensions

******************************************************************/

// ----------------- //
//  clearfix
//  @extend .clearfix;
// ----------------- //
.clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
  &:after {
        clear: both;
    }
}

//$con_width: 960px;
//$num_of_cols: 2;
//$margin: 20px;

// Equal Spaced Columns
// --------------------------------------------
// Number of Columns - First Column
// ($num_of_cols -1)

// Remaining Number of Columns * Margin Spacing
// $margin * ($num_of_cols -1)

// Container Width - Total Margin Spacing
// $con_width - ($margin * ($num_of_cols -1))
// 960px - 20px = 940px

// Remaining Width / Total Number of Columns
// ($container_width - ($margin * ($numbr_of_columns -1))) / number_of_columns

@mixin equalSpaced( $num_of_cols, $margin, $con_width){
    width: ( $con_width - ( $margin * ( $num_of_cols - 1 ) ) ) / $num_of_cols;
    margin-left: $margin;

&:first-child {
    margin-left: 25px;
    }
}