/* = Variables 
-------------------------------------------------------------------------------------------------------------------- */
$base-font-size     : 1em;
$base-text-color    : #603680;
$base-link-color    : #9051bf;
$base-hdr-color     : #9051bf;
$base-line-height   : 1.3;

/* Breakpoints */
$breakpoint-small : 600px;
$breakpoint-large : 960px; 

/* Fonts */
$font-primary:  inconsolata, monospace;
$font-secondary:  english, serif;