/********************************************
                VARIABLES
********************************************/

/* Breakpoints */
$breakpoint-small : 600px;
$breakpoint-large : 960px; 

/* Fonts */
$font-primary       :   inconsolata, monospace;
$font-secondary     :   english, serif;
$base-font-size     :   1em;
$base-line-height   :   1.3;

/* Colors */
$color-light-a  :   hsla(0, 0%, 100%, 0.60);
$color-light-b  :   #c06cff;
$color-medium-a :   #ad61e6;
$color-medium-b :   #9051bf;
$color-dark-a   :   #603680;
$color-dark-b   :   #301b40;